@page
@model WebApplication3.Views.Home.DetailsModel

@{
    ViewBag.Title = "Application Details";
}

<h2>Application Details</h2>

<div>
    <h4>Application ID: @Model.ApplicationID</h4>
    <h4>Job Title: @Model.JobTitle</h4>
    <h4>Applicant Name: @Model.ApplicantName</h4>
</div>